__pycache__/
*.py[cod]
*.pyc
*.pyo

# Database
*.db
*.sqlite
*.sqlite3

# Environment & Config
.env
config.py

# Certificates
*.pem
cert.pem
key.pem

# Folders
uploads/
exports/
cache/
instance/
venv/
ENV/
Order_merge/

# Test files
test.py
db_check.py
del.py
float.py
generate_cert.py

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db